
:root {
    //colors 
    --first-color: #FFF9E7;
    --second-color: #CDBA9E;
    --button-color-primary: #A73B22;
    --button-color-secondary: #434B34;
    --button-color-transparent: transparent;
    
    //fonts 
    --font-main: 'Cormorant', serif;
	//--font-accent: 'Poppins', sans-serif;
	--font-nav: 'Open Sans', sans-serif;
}