
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Cormorant:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic);


html {
	scroll-behavior: smooth;
	background-color: rgb(39, 39, 39);
}

body {
    background-color: var(--first-color);
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 16px;
    color: #000;
	@include small-mobile {
        font-size: 14px;
    }
}

img {
	display: block;
}

a {
	color: var(--link-color);
}

code {
	background-color: #e9f1f6;
	padding: 0.2rem;
	border-radius: 4px;
}

pre.code {
	overflow-x: auto;
	background-color: #e9f1f6;
	padding: 1rem;
	border-radius: 4px;
}
