/*fonts*/

@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap);



html {
	scroll-behavior: smooth;
	background-color: rgb(39, 39, 39);
}

body {
    background-color: var(--first-color);
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

img {
	display: block;
}

a {
	color: var(--link-color);
}

code {
	background-color: #e9f1f6;
	padding: 0.2rem;
	border-radius: 4px;
}

pre.code {
	overflow-x: auto;
	background-color: #e9f1f6;
	padding: 1rem;
	border-radius: 4px;
}
