.booking {
    padding-top: 80px;
    &__error {
        display: none;
        text-align: center;
        color: #FF0800;
        font-size: 20px;
        margin-bottom: 10px;
        @include small-mobile {
            font-size: 18px;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        @include mobile {
            gap: 15px;
            
        }
        &-group {
            display: flex;
            align-items: center;
            gap: 20px;
            @include small-tablet {
                flex-wrap: wrap;
            }
            @include mobile {
                justify-content: flex-end;
                gap: 5px;
            }

        }
    }
    &__input {
        &-group {
            width: 200px;
            margin-bottom: 20px;
            @include small-tablet {
                flex-grow: 1;
                
            }
            &:nth-child(1),
            &:nth-child(2) {
                flex-grow: 1;
            }
        }
    }
    &__label {
        display: block;
        margin-bottom: 5px;
        color: var(--support-color);
        font-weight: 600;
        font-size: 26px;
        @include mobile {
            font-size: 22px;
        }
        @include small-mobile {
            font-size: 18px;
        }
    }
    &__select,
    &__input {
        width: 100%;
        height: 44px;
        padding: 4px;
        font-size: 18px;
        font-weight: 500;
        border: 2px solid var(--second-color);
        border-radius: 4px;
        cursor: pointer;
        &:focus {
            border-color: var(--base-color);
        }
        @include small-mobile {
            height: 40px;
            font-size: 16px;
        }
    }
}


  
