.booking {
    padding: 30px 0 30px 0;
    &__error {
        display: none;
        text-align: center;
        color: var(--button-color-primary);
        font-size: 20px;
        margin-bottom: 10px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        @include mobile {
            gap: 15px;
            
        }
        &-group {
            display: flex;
            align-items: center;
            gap: 20px;
            @include small-tablet {
                flex-wrap: wrap;
            }
            @include mobile {
                justify-content: flex-end;
                gap: 5px;
            }

        }
    }
    &__input {
        &-group {
            width: 200px;
            margin-bottom: 20px;
            @include small-tablet {
                flex-grow: 1;
                
            }
            &:nth-child(1),
            &:nth-child(2) {
                flex-grow: 1;
            }
        }
    }
    &__label {
        display: block;
        margin-bottom: 5px;
        color: #000;
        font-weight: 600;
        font-size: 20px;
        @include small-mobile {
            font-size: 18px;
        }
    }
    &__select,
    &__input {
        width: 100%;
        padding: 8px;
        font-size: 18px;
        font-weight: 500;
        border: 2px solid var(--second-color);
        border-radius: 4px;
        cursor: pointer;
        @include small-mobile {
            font-size: 14px;
        }
    }
    &__button {
        background: var(--button-color-primary);
    }
}


  
  
 /* .booking__button {
    padding: 10px 20px;
    background-color: var(--button-color-primary);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .booking__button:hover {
    background-color: #0056b3;
  }*/