.button {
    padding: 10px;
    width: 145px;
    background-color: var(--button-color-primary);
    border-radius: 5px;
    font-size: 24px;
    color: #fff;
    @include mobile {
        width: 125px;
        font-size: 20px;
    }
    @include small-mobile {
        width: 120px;
        padding: 5px;
    }
    &-small {
        width: 90px;
        height: 29px;
        font-size: 16px;
    }
}