.collection {
    padding: 100px 0 100px;
    &__title {
        text-align: center;
    }
    &__wrapper {
        padding-top: 30px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    &__item {
        padding: 20px 30px;
        border: 1px solid var(--second-color);
        border-radius: 5px;
        background-color: var(--second-color);
        will-change: height;
        transition: all 1s;
        &-opened {
            background-color:var(--first-color);
            .collection__button {
                color: #000;
                font-weight: 600;
                border: 1px solid var(--second-color);
                background-color: transparent;
            }
            .collection__content {
                opacity: 1;
                max-height: 650px;
            }
        }
        @include mobile {
            padding: 10px 15px;
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        @include mobile {
            flex-direction: column;
            gap: 25px;
            align-items: flex-start;
        }
    }
    &__button {
        @include mobile {
            align-self: flex-end;
        }
    }
    &__brand {
        font-size: 24px;
        font-weight: 600;
        @include small-tablet {
            font-size: 22px;
        }
        @include mobile {
            font-size: 20px;
        }
        @include small-mobile {
            font-size: 18px;
        }
    }
    &__description {
        width: 640px;
        font-weight: 500;
        @include tablet {
            width: 480px;
        }
        @include small-tablet {
            width: 400px;
        }
        @include mobile {
            width: 100%;
        }
    }
    &__content {
        overflow: hidden;
        opacity: 0;
        transition: opacity 0.5s, max-height 0.5s;
        max-height: 0;
    }
    &__image {
        width: 670px;
        height: 450px;
        margin-left: auto;
        @include tablet {
            width: 595px;
            height: 400px;
        }
        @include mobile {
            width: 380px;
            height: 265px;
            margin-top: 20px;
        }
        @include small-mobile {
            width: 300px;
            height: 180px;
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
    }
    &__characteristics {
        display: flex;
        gap: 60px;
        @include mobile {
            gap: 10px;
        }
        @include small-mobile {
            gap: 5px;
        }
        &-label,
        &-price {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 20px;
            font-weight: 500;
            @include small-tablet {
                font-size: 18px;
            }
            @include mobile {
                text-align: center;
                font-size: 16px;
                gap: 15px;
                min-height: 60px;
            }
            

        }
        &-value {
            font-size: 24px;
            @include small-mobile {
                font-size: 20px;
            }
        }
    }
}