.main {
    height: 670px;
    background: url('./../../img/main/gallerywheel.png') no-repeat center / cover;
    background-blend-mode: multiply;
    padding-bottom: 80px;
    @include mobile {
		height: 551px;
		padding-bottom: 16px;
	}
    .container {
        height: 100%;
    }
    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 30px;
        @include mobile {
            gap: 50px;
        }

    
        
    }
    &__title {   
        font-size: 60px;
        font-style: italic;
        color: #fff;
        z-index: 1;
        @include laptop {
            font-size: 56px;
        }
        @include tablet {
            font-size: 50px;
        }
        @include mobile {
            font-size: 30px;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 74px;
            background: linear-gradient(90deg, rgba(255,249,231,0.7987570028011204) 0%, rgba(255,249,231,0.5718662464985995) 44%, rgba(255,249,231,0) 100%);
            opacity: 0.1;
            z-index: -1;
            @include tablet {
                height: 66px;
            }
            @include mobile {
                height: 40px;
            }

        }
    }
}