.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px; /* Ширина модального окна */
    max-height: 80vh;
    background-color: #fdfdfd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    overflow-x: hidden;
    overflow-y: scroll;
    &.opened {
        display: block;
    }
    &__close {
        position: absolute;
        top: -8px;
        right: 10px;
        font-family: var(--font-nav);
        font-size: 50px;
        color: var(--button-color-primary);
        cursor: pointer;
    }
    &__title {
        font-size: 24px;
        text-transform: uppercase;
        color: var(--button-color-secondary);
        font-weight: 600;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--button-color-secondary);
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
        &-group {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }
    &__input {
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-size: 18px;
        &-field {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid var(--second-color);
            border-radius: 5px;
            box-sizing: border-box;
        }

    }
    &__label {
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 600;
    }
    &__button {
        padding: 10px 20px;
        background-color: var(--button-color-secondary );
        color: #fff;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}